main {
    position: relative;
    background: #2A2A2B;
    border: 1px solid #3F4041;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex: 1 1 auto;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    place-content: center;
}

main section ui-qr {
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    opacity: 1;
    z-index: 100;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

main[data-qr="false"] section ui-qr {
    opacity: 0;
    pointer-events: none;
}

main section ui-qr p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

main section ui-qr picture {
    border: 1px solid #000000;
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto 0 auto;
}

main section object {
    flex: 0 0 auto;
    width: 224px;
    height: 224px;
}

main footer {
    display: flex;
    flex: 0 0 auto;
    border-top: 1px solid #1C1C1D;
    background: #232324;
    padding: 15px 20px;
    flex-direction: row;
}

main footer span {
    flex: 1 1 auto;
}

main footer button {
    flex: 0 0 auto;
    margin: 0 0 0 15px;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #ACACAC;
    font-size: 18px;
}

main footer button:first-child,
main footer button:last-child {
    margin: 0;
}

main footer button:hover {
    color: #FFFFFF;
}

main footer button.left {
    align-self: start;
}

main footer button.right {
    align-self: end;
}